* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  line-height: 25px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

iframe {
  width: 100%;
}

input:-webkit-autofill {
  background: #ffffff;
  -webkit-transition: 10000000000s linear;
  transition: 10000000000s linear;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-size: 52px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0 0 111px 0;
}

h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #23407D;
}

.main-screen h1 {
  color: #fff;
}

.header {
  margin: 111px 0 0 0;
  color: #fff;
  position: relative;
  z-index: 100;
}
.header a {
  color: #fff;
}

.header__menu a:not(:last-child) {
  margin: 0 56.2px 0 0;
}

.header__menu {
  margin: 8px 0 0 0;
  position: relative;
}

.close-menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 74px;
}

.main-screen {
  margin: -144px 0 0 0;
  background: linear-gradient(175.65deg, #5547D1 13.45%, #0095FF 89.52%);
  padding: 313px 0 0px 0;
}
.main-screen img {
  width: 100%;
}

.numbers {
  padding: 152px 0 180px 0;
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  max-width: 500px;
}
.numbers__item:last-child {
  margin: 0 60px 0 0;
}
.numbers__item svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.numbers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.numbers__inner::after {
  content: "";
  width: 1px;
  height: calc(100% + 60px);
  background: #C2D7F3;
  position: absolute;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.numbers-content__text {
  font-size: 24px;
  line-height: 29px;
  color: #686868;
  margin: -14px 0 32px 0;
}

.numbers-value {
  font-size: 64px;
  line-height: 78px;
  font-weight: 900;
  color: #5547D1;
}

.advantages {
  padding: 48px 0 70px 0;
  background: #EAF3FF;
}
.advantages .container {
  position: relative;
}

.advantages__heading {
  margin: 0 0 93px 0;
}

.advantages__inner {
  max-width: 646px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.333fr 30px 1.333fr 30px 1.333fr;
  grid-template-columns: repeat(3, 1.333fr);
  gap: 30px;
  position: relative;
}

.advantages__item {
  padding: 20px 20px 41px 20px;
  -webkit-box-shadow: 2px 4px 10px rgba(114, 105, 194, 0.3);
          box-shadow: 2px 4px 10px rgba(114, 105, 194, 0.3);
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.advantages__item--red {
  background: #F2757D;
}

.advantages__circle {
  width: 589px;
  height: 589px;
  border-radius: 50%;
  padding: 100px 85px;
  background: #715095;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -47px;
  right: -35px;
  z-index: 3;
  color: #fff;
  font-size: 16px;
  line-height: 19.5px;
}

.advantages__item--purple {
  background: #A672E1;
  bottom: 35px;
  padding: 8px 20px 32px 14px;
}
.advantages__item--purple .advantages__text {
  padding: 0 8px;
}

.advantages__item--yellow {
  background: #F0803B;
  padding: 38px 19px 43px 19px;
}

.advantages__img {
  margin: 0 0 12px 0;
}

.advantages__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
  padding: 0 14px;
}

.metriki {
  padding: 164px 0 40px 0;
}

.metriki-heading {
  margin: 0 0 48px 0;
}

.metriki-tabs {
  color: #686868;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 15px;
}

.metriki-tab__item {
  position: relative;
  cursor: pointer;
}
.metriki-tab__item.active {
  color: #5547D1;
}
.metriki-tab__item.active:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #5547D1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.metriki-tab__content {
  display: none;
  height: 659px;
  background: #EAEDF2;
}
.metriki-tab__content.active {
  display: block;
}
.metriki-tab__content img {
  width: 100%;
  height: 100%;
}

.offers {
  padding: 100px 0 100px 0;
}

.offers__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.333fr 36px 1.333fr 36px 1.333fr;
  grid-template-columns: repeat(3, 1.333fr);
  gap: 36px;
}

.offers-heading {
  margin: 0 0 70px 0;
}

.offers__item {
  padding: 20px 43.5px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
  -webkit-box-shadow: 1px 4px 15px rgba(23, 86, 202, 0.3);
          box-shadow: 1px 4px 15px rgba(23, 86, 202, 0.3);
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
}

.offers__item-text {
  margin-left: auto;
}

.offers__item--blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B6DE7), to(#1756CA));
  background: linear-gradient(180deg, #2B6DE7 0%, #1756CA 100%);
}

.offers__item--purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#A672E1), to(#8A46D8));
  background: linear-gradient(180deg, #A672E1 0%, #8A46D8 100%);
}

.offers__item--orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#F0803B), to(#E86312));
  background: linear-gradient(180deg, #F0803B 0%, #E86312 100%);
}

.footer {
  padding: 67px 0 100px 0;
}

.footer-contacts__heading {
  margin: 0 0 43px 0;
}

.footer-contacts {
  margin: 0 0 142px 0;
}

.footer-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 17px;
  color: #2769E2;
}
.footer-contacts__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 101px;
}

.footer-col h2 {
  margin: 0 0 48px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.footer__social a {
  width: 56px;
  height: 56px;
}
.footer__social svg {
  width: 56px;
  height: 56px;
}

.footer__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 41.5px;
     -moz-column-gap: 41.5px;
          column-gap: 41.5px;
  row-gap: 25px;
}

.burger {
  display: none;
}
.burger span {
  display: block;
  width: 18px;
  height: 2px;
  background: #FAE7DB;
  border-radius: 2px;
  position: relative;
}
.burger span:not(:last-child) {
  margin: 0 0 4px 0;
}

.mobile-bg {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile-bg img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1370px) {
  .advantages__inner {
    margin: 0 auto;
    position: relative;
    z-index: 4;
  }

  .advantages__circle {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .metriki {
    padding: 400px 0 40px 0;
  }
}
@media screen and (max-width: 1200px) {
  .header__menu a:not(:last-child) {
    margin: 0 16px 0 0;
  }

  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .metriki-tab__content {
    height: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .burger {
    display: block;
  }
  .burger.active span {
    margin: 0;
  }
  .burger.active span:first-child {
    display: none;
  }
  .burger.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 2px;
  }

  .mobile-bg {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .header__menu {
    background: linear-gradient(175.65deg, #5547D1 13.45%, #0095FF 89.52%), url(../img/main-screen.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 23px;
    font-weight: 700;
    text-align: center;
    padding: 100px 0 60px 0;
    margin: 0;
    -webkit-transition: top 0.4s ease-in;
    transition: top 0.4s ease-in;
    z-index: 22;
  }
  .header__menu a {
    display: block;
    position: relative;
    z-index: 4;
  }
  .header__menu a:not(:last-child) {
    margin: 0;
  }
  .header__menu.active {
    top: 0;
  }

  .numbers-value {
    font-size: 40px;
    line-height: 48px;
  }

  .numbers-content__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0 5px 0;
  }

  .eye-icon {
    width: 84px;
    height: 84px;
  }

  .flag-icon {
    width: 84px;
    height: 84px;
  }

  .numbers__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .offers__inner {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr);
  }

  .offers__item--orange {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offers__item--orange .offers__item-text {
    margin: 0;
  }

  .numbers {
    padding: 54px 0;
  }

  h1 {
    font-size: 36px;
    line-height: 37px;
  }

  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header {
    margin: 39px 0 0 0;
  }
}
@media screen and (max-width: 660px) {
  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    font-size: 16px;
    line-height: 19.5px;
  }

  .metriki-tab__content {
    height: 300px;
  }

  .main-screen {
    padding: 221px 0 0 0;
  }

  .offers {
    padding: 40px 0;
  }

  .offers-heading {
    margin: 0 0 35px 0;
  }

  .advantages__circle {
    width: 100%;
    height: auto;
    border-radius: 0;
    position: static;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    background: none;
    color: #000000;
  }

  .metriki {
    padding: 40px 0 0 0;
  }

  .footer-contacts {
    margin: 0 0 40px 0;
  }

  .footer-row {
    gap: 40px;
  }

  .offers__inner {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .offers__item--orange {
    grid-column: auto;
  }

  .offers__item-text {
    margin: 0;
  }

  .offers__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .offers__item svg {
    margin-left: auto;
  }

  .advantages__inner {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
    margin: 0 0 35px 0;
  }

  .advantages__heading {
    margin: 0 0 40px 0;
  }

  .advantages__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantages__item--purple {
    top: 0;
  }

  .numbers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 326px;
    margin: 0 auto;
  }
  .numbers__inner:after {
    content: none;
  }

  .numbers__item {
    gap: 22px;
    padding: 45px 0;
    border-bottom: 1px solid #C2D7F3;
  }
  .numbers__item:first-child {
    padding: 0 0 45px 0;
  }
  .numbers__item:last-child {
    border: none;
    padding: 45px 0 0 0;
  }

  .header-logo {
    width: 187px;
    height: 18px;
    display: inline-block;
  }
  .header-logo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: baseline;
  }

  .footer__partners {
    -webkit-column-gap: 27px;
       -moz-column-gap: 27px;
            column-gap: 27px;
  }

  .eye-icon {
    width: 67px;
    height: 67px;
  }

  .flag-icon {
    width: 67px;
    height: 67px;
  }
}
@media screen and (max-width: 374px) {
  .metriki-tab__content {
    height: 220px;
  }

  .numbers-value {
    font-size: 36px;
  }
}