// ОБНУЛЯЮЩИЕ СТИЛИ
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  line-height: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}



main {
  flex-grow: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}


a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


img {
  vertical-align: middle;
}

iframe {
  width: 100%;
}

input:-webkit-autofill {
  background: #ffffff;
  transition: 10000000000s linear;
}